body {
    /* font-family: 'Montserrat', sans-serif;  */
}

/* jumbotron */
.jumbotron {
    position: relative;
    background: rgb(0, 0, 0) url("images/the-creative-exchange-687925-unsplash.jpg") top -10em center;
    width: auto;
    height: auto; 
    background-size: auto;
    color: #000;
    min-height: 320px;
    padding-top: 20%;
    padding-bottom: 20%;


}

.jumbotron h1 {
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 4rem;
    text-align: left;
}  

.jumbotron h4 {
    /* font-family: 'Montserrat', sans-serif; */
    text-align: left;
    font-weight: 200;
}  
