body {
    font-family: 'Nunito Sans', sans-serif;
    color: #00000;
    

}

/* Navigation Bar */
.navbar-light .navbar-brand {
    font-size: 24px;
    font-weight: 600;
    color: #2a5d9b;
}

.navbar-light .navbar-brand:hover {
    font-size: 24px;
    font-weight: 600;
    color: #2a5d9b;
}
.navbar-light .navbar-nav .nav-link  {
    color: #2a5d9b;
    font-weight: 400;
    font-size: 1.25rem;

}

.bg-light {
    background-color: #fff!important;
    height: 80px;
}


/* jumbotron */

.jumbotron {
    position: relative;
    background: url("images/Homepage/Intro.jpg");
    background-size: cover;
    width: auto;
    height: auto; 
    min-height: 320px;
    padding-top: 20%;
    padding-bottom: 20%;
    border-radius: 0;
}

.jumbotron > .bg-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(155, 155, 155, 0.3);
    z-index: 1;
}

.jumbotron > .inner {
    position: relative;
    z-index: 2;
}


.jumbotron h1 {
    font-size: 4rem;
    text-align: left;
}  

.jumbotron h4 {
    text-align: left;
    font-weight: 200;
}  

/* Welcome */

.about h1{
    color: #2a5d9b;
    font-size: 3rem;
}

.about p {
    font-size: 1.5rem;
    font-weight: 300;
}


/* Mini-Missions-Split Section */

.header {
    color: #2a5d9b;
    font-size: 3rem;
}

.description {
    font-size: 1.5rem;
    font-weight: 300;
}

.btn .btn-md {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 400;
    border-radius: 0;
    background-color: #2a5d9b;

}

.section {
    background-color: #FFFBF7;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.section .image-element img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;


}
.img {
    vertical-align: middle;
    border-style: none;
}

.section .text-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}


/* Cards */

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.75rem;
}

.card {
border: none;
border-radius: 0;
}

/* Instagram */
  
.img-fluid {
    justify-content: center;
    display: flex;
    width: 100%;
    height: auto;
}
.instagram-box  {
    position: relative;
    width: 100%;
    max-width: 300px;
  }
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #eee;
  }
  
  .instagram-box:hover .overlay {
    opacity: 1;
  }
  
  .icon {
    color: #444444;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }


  .ig-container-fluid {
    width: 100%;
    height: 100%;
    padding-top: 2.5em;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #EDF5FF;
}

/* Links */

a {
    color: #000000;
}

a:hover {
    color: #000000;
}